[submodule "libraries/Adafruit_ZeroDMA"]
	path = libraries/Adafruit_ZeroDMA
	url = https://github.com/adafruit/Adafruit_ZeroDMA
[submodule "ArduinoCore-API"]
	path = ArduinoCore-API
	url = https://github.com/arduino/ArduinoCore-API
[submodule "libraries/Adafruit_SPIFlash"]
	path = libraries/Adafruit_SPIFlash
	url = https://github.com/SparkEVO/Adafruit_SPIFlash
	branch = sparkevo-dev
[submodule "libraries/SdFat"]
	path = libraries/SdFat
	url = https://github.com/adafruit/SdFat
	branch = master
[submodule "libraries/littlefs"]
	path = libraries/littlefs
	url = https://github.com/littlefs-project/littlefs
	branch = master
